body {background-color:black;color:blue;}
h1 {color:blue;}
h3 {color:blue;}
p {color: blue;}
hr {background-color: black; border-style: none; border-top-style: dotted;border-color: blue; border-width: 8px; width: 10%;}
